# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# App File
fedex-vm-kp-ssh.pem
fedex-vm-kp.ppk

# Node & front-end build files
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# Composer & PHP
/vendor/
composer.lock

# Environment files
.env
.env.local
.env.development
.env.production
.env.test

# Logs & cache
*.log
*.cache
.cache/
tmp/
temp/
storage/
uploads/
results/
pods/

# IDE / Editor folders
.idea/
.vscode/
*.swp

# Docker
docker-compose.override.yml
